
/* FOOTER */
.footer {
  background-color: #1B262C;
  width: 100%;
  
}

.footer-elements {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 40px;
  padding: 80px 0;
}
.footer-text {
  text-align: left;
  font: normal normal normal 14px/24px Arial;
  letter-spacing: 0px;
  color: #ffffffbb;
  opacity: 1;
}

.footer-text p {
  padding-bottom: 20px;
}

.form-input {
  border: 1px solid #8E9CA5;
  background-color: transparent;
  outline: none;
  color: #ffffffbb;
  padding: 11px 20px 13px 20px;
  border-radius: 3px;
  font-size: 13px;
}
.form-input::placeholder {
  color: #8E9CA5
}

.text-dark {
  color: #8E9CA5 !important;
}

.sub-button {
  color: #0F4C75;
  padding: 11px 20px 13px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-elements {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 80px 20px;
  }
}

@media (max-width: 425px) {
  .sub-button {
    margin-top: 10px;
  }

  .ml-15px {
    margin-left: 0;
  }

}